body{
  background: linear-gradient( rgba(255, 231, 170, 0.45), rgba(255, 231, 170, 0.45)), url(Imagenes/background1.jpg);
}


.encabezado {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.encabezado_chat {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#chatconpepi{
  text-decoration: none;
  color: pink;
  background: gray;
  border-radius: 15px;
  border: 1px grey solid;
  padding: 5px;
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
}

.botones{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.vinculos{
  display: inline-block;
  text-decoration: none;
  color: grey;
  background: rgb(168, 199, 100);
  border-radius: 30px;
  border: 3px grey solid;
  padding: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 40px;
  cursor: pointer;
  transition: all 1s;
}

.vinculos:hover{
  transform: scale(1.1);
}


h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 150px;
  text-shadow: 2px 2px 2px grey;
  
}
.img_cont{
  overflow: hidden;
  width: 30%;
  position: relative;
  right: 20px;
  padding-top: 30%;
  background-image: url(Imagenes/pepi_ppalrec.jpg);
  background-size: cover;
  border-radius: 50%;
}

.textoparrafo{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
}

.parrafos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#left{
  align-self: flex-start;
  width: 45%;
  margin-bottom: 30px;
  
}

#right{
  align-self: flex-end;
  width: 45%;
  margin-bottom: 30px;
}

.hidden{
  display: none;
}

.hidden2{
  visibility: hidden;
}

.chatreveal{
  display: block;
  width: 50%;
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 2;
}

#listabox{
  background-color: grey;
  height: fit-content;
  padding: 10px;
  border-radius: 30px;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 25px;
  margin: 0 auto;
  width: auto;
  
}

#userinput{
  background-color: pink;
  height: 10%;
  width: 100%;
  border-radius: 10px;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 25px;
  margin: 0 auto;
}

#lista{
  list-style: none;
}

.respuestapepi{
  font-size: 20px;
  color: pink;
  font-family: 'Catamaran', sans-serif;
  padding-bottom: 6px;
}

.respuestausuario{
  font-size: 20px;
  color: goldenrod;
  font-family: 'Catamaran', sans-serif;
  padding-bottom: 6px;

}

.respuestaauto{
  font-size: 17px;
  color: whitesmoke;
  font-family: 'Catamaran', sans-serif;
  padding-bottom: 4px;
}